{{define "loginLayout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>{{.Title}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  </head>
  <body class="flex flex-col bg-black h-screen w-screen text-white">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="border-white border-2 w-80 rounded-2xl m-auto p-2">
        All Registered Clients
        <div>
          <form class="bg-black" hx-post="/api/clients" hx-target="#client-list" >
            <input class="bg-black" type="text" name="name" placeholder="name" />
            <input class="bg-black" type="text" name="grant_type" placeholder="grant_type" /> 
            <input class="bg-black" type="text" name="redirect_uri" placeholder="redirect_uri" />
            <input class="bg-black" type="submit" value="Add Client" />
          </form>
        </div>
        <div id="client-list">
          {{range .Clients}}
            {{template "clientData" .}}
          {{end}}
        </div>
    </div>
  </body>
</html>
{{end}}

{{template "loginLayout" .}}