<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>nak-auth</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col bg-black h-screen w-screen text-white">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="border-white border-2 w-80 rounded-2xl m-auto">
      <div class="py-5 px-5">
        HOMMMMMME
      </div>
    </div>
    
  </body>
</html>